layout {
  default_tab_template {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="Horizontal" {
      pane split_direction="Vertical" {
        pane
        pane
      }
      pane split_direction="Horizontal" {
        pane
      }
    }
  }

  tab_template name="dev" {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="Horizontal" {
      pane size="80%"
      pane split_direction="Vertical" {
        pane
        pane
        pane
      }
    }
  }

  tab_template name="full-view" {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane
  }

  // tab name="a"
  // tab name="b"
  // dev name="d"
  full-view name="c"
}
session_name "c"
attach_to_session true
