.DS_Store
.mypy_cache/
*.swp
*.secrets
update-notifier-*.json
.vscode
*.log
.ipynb_checkpoints
**/history.sqlite

# Handle application putting stuff into XDG_CONFIG_HOME
#  1. Copy/link into a local folder, and point XDG_CONFIG_HOME to it
#  2. Whitelist insted of blacklist .dotfiles-conent
# 1. looks best
*/sys-setup/*
