---
BasedOnStyle: LLVM
IndentWidth: 4
PointerBindsToType: false
ObjCSpaceAfterProperty: true
AlwaysBreakAfterReturnType: All
AlwaysBreakAfterDefinitionReturnType: All
SortIncludes: false
ColumnLimit: 120
AlignAfterOpenBracket: AlwaysBreak
KeepEmptyLinesAtTheStartOfBlocks: false
AlignTrailingComments: true
IndentCaseLabels: true
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
---
Language: JavaScript
ColumnLimit: 100
---
Language: Proto
DisableFormat: true
...
