"*":
  "activate-power-mode":
    comboMode:
      activationThreshold: 75
    screenShake: {}
  "atom-lint":
    ignoredNames: [
      "tmp/**"
    ]
    jshint:
      path: "/usr/local/bin/jshint"
  "atom-material-ui":
    colors:
      abaseColor: "#ef5350"
      accentColor: "#59fcff"
      predefinedColor: "Red"
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
  autosave:
    enabled: true
  core:
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "sync-settings"
      "welcome"
      "react"
      "pretty-json"
      "package-sync"
      "script"
      "tree-view"
      "exception-reporting"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "afterglow-monokai-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapped: true
    tabType: "soft"
  "exception-reporting":
    userId: "85431bba-3ca2-ef1d-b5e4-6a0f8b663938"
  jsformat: {}
  "language-babel": {}
  linter:
    gutterEnabled: false
    showErrorInline: false
    showErrorPanel: false
    showErrorTabLine: true
  "linter-eslint": {}
  "linter-shellcheck": {}
  metrics:
    userId: "9e5dc7485d86e12ba08406e6b0aaec97fea23e08"
  minimap:
    displayPluginsControls: false
  nuclide:
    "nuclide-file-tree":
      showOpenFiles: false
      showUncommittedChanges: false
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
  "one-dark-ui": {}
  pigments: {}
  "pretty-json":
    prettifyOnSaveJSON: false
  react: {}
  "sync-settings":
    _analyticsUserId: "aeb5392b-25ea-4f17-9308-6eaa1d4e746f"
    _lastBackupHash: "46a20677e4a424f18c7853dc66a3d47e9d757096"
    gistId: "0323e6afb2f6a98a44be"
    personalAccessToken: "773f6cfad58844fe55c5bc94fca7635b5df67222"
  "travis-ci-status": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".java.source":
  editor:
    tabLength: 2
".js.jsx.source":
  editor:
    autoIndent: true
    preferredLineLength: 120
    tabLength: 2
