[user]
    name = mcmhav
    email = mcmhav@gmail.com
[push]
    default = simple
[color]
    ui = true
[core]
    editor = vim
[fetch]
    prune = true
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential]
	helper = osxkeychain
