"*":
  "activate-power-mode":
    comboMode: {}
    plugins:
      playAudio: true
      screenShake: true
    screenShake: {}
  "atom-beautify":
    general:
      _analyticsUserId: "86fce66d-6c81-4542-8ad9-9c5cf8c7f547"
    js:
      brace_style: "expand"
      break_chained_methods: true
      end_with_comma: true
      jslint_happy: true
      keep_array_indentation: true
    json:
      break_chained_methods: true
    jsx:
      default_beautifier: "JS Beautify"
      end_with_comma: true
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "atom-lint":
    ignoredNames: [
      "tmp/**"
    ]
    jshint:
      path: "/usr/local/bin/jshint"
  "atom-material-ui":
    colors:
      abaseColor: "#ef5350"
      accentColor: "#59fcff"
      paintCursor: true
      predefinedColor: "Red"
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "welcome"
      "pretty-json"
      "exception-reporting"
      "language-javascript-jsx"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/mcmhav/r"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "gruvbox"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapped: true
    tabType: "soft"
  "exception-reporting":
    userId: "85431bba-3ca2-ef1d-b5e4-6a0f8b663938"
  "go-plus":
    config: {}
    panel:
      currentHeight: "25.236742424242426vh"
  hyperclick:
    darwinTriggerKeys: "altKey,metaKey"
  jsformat: {}
  "language-babel": {}
  linter: {}
  "linter-eslint": {}
  "linter-shellcheck": {}
  "linter-ui-default":
    panelHeight: 706
  "markdown-preview":
    openPreviewInSplitPane: false
  metrics:
    userId: "9e5dc7485d86e12ba08406e6b0aaec97fea23e08"
  minimap:
    adjustMinimapWidthToSoftWrap: false
    displayPluginsControls: false
  nuclide:
    "nuclide-buck": {}
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-file-tree":
      showOpenFiles: false
      showUncommittedChanges: false
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
  "nuclide-format-js":
    requiresAddMissingRequires: false
  "one-dark-ui": {}
  pigments:
    autocompleteScopes: [
      ".source.css"
      ".source.css.less"
      ".source.sass"
      ".source.css.scss"
      ".source.stylus"
      "source.js"
    ]
    autocompleteSuggestionsFromValue: true
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    traverseIntoSymlinkDirectories: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      singleQuote: true
      trailingComma: "all"
    useEslint: true
  "pretty-json":
    prettifyOnSaveJSON: false
  react: {}
  "sync-settings":
    _analyticsUserId: "aeb5392b-25ea-4f17-9308-6eaa1d4e746f"
    _lastBackupHash: "46a20677e4a424f18c7853dc66a3d47e9d757096"
    gistId: "0323e6afb2f6a98a44be"
    personalAccessToken: "773f6cfad58844fe55c5bc94fca7635b5df67222"
  "travis-ci-status": {}
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".java.source":
  editor:
    tabLength: 2
".js.jsx.source":
  editor:
    autoIndent: true
    preferredLineLength: 120
    tabLength: 2
